#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>

#include "include/mouse_tp.dtsi"

#define HAS_MOUSE_TP

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&sys_reset>;
        };
    };
};